{% extends 'tournaments/base.html' %}
{% load staticfiles %}


{% block head %}
<link rel='stylesheet' type='text/css' href={% static 'tournaments/css/match.css' %} />
{%  endblock %}


{% block content %}
<header>
    <h1 class="smash_head">
        Mosaic Smash
    </h1>
    <h2>
        <span class="side-header">
            <a href="/tournaments"> {{ tournament.name }} </a>
        </span>
        Match Results
        <span class="side-header">
            <a href="/tournaments"> {{ tournament.name }} </a>
        </span>
    </h2>
</header>

<div class='line'></div>

<table>
    <tr id='col_names'>
        <th> Round </th>
        <th> Date Played </th>
        <th> Stage </th>
        <th> Teams </th>
        <th> Match Type </th>
        <th> Rules </th>
        <th> Winner </th>
    </tr>
{% for match in matches %}
    <tr class='clickable-row'  data-href='/results/{{ match.pk }}'>
        <td class='tournament-round'>
            {{ match.name }}
        </td>
        <td class='played'>
            {{ match.date_played }}
        </td>
        <td class='stage'>
            {{ match.stage }}
        </td>
        <td class='teams'>
            {% if match.teams %}
		✓
	    {% else %}
		✘
	    {% endif %}
        </td>
        <td class='type'>
            {{ match.match_type }}
        </td>
        <td class='rules'>
	    {{ match.time_length }}
            {% if match.match_type == "Time" %}
                Minutes
	    {% else %}
		Lives
            {% endif %}
        </td>
        <td class='winner'>
            {{ match.winner.nickname }}
        </td>
    </tr>
{% endfor %}
</table>
<div class='line'></div>

{%  endblock %}


{% block javascript %}
<script type="text/javascript">
    $(".clickable-row").click(function() {
    window.document.location = $(this).data("href");
    });
</script>
{% endblock %}
