{% extends 'tournaments/base.html' %}
{% load staticfiles %}


{% block head %}

<link rel="stylesheet" type="text/css" href={% static 'tournaments/css/signup.css' %} />

{%  endblock %}

{% block content %}
<header>
    <h1 class="smash_head">
        Mosaic Smash
    </h1>
    <h2>
        <span class="side-header">
            <a href="/leaderboard/"> Leaderboards </a>
        </span>
        Signup
        <span class="side-header">
            <a href="/leaderboard/"> Leaderboards </a>
        </span>
    </h2>
</header>
<div class="line"> </div>
<div class="newpost">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="submit" class="submit" >  </input>
    </form>
</div>


{%  endblock %}


{% block javascript %}
<script type='text/javascript'>

</script>
{% endblock %}
