{% extends 'tournaments/base.html' %}
{% load staticfiles %}


{% block head %}
<link rel='stylesheet' type='text/css' href={% static 'tournaments/css/dataentry.css' %} />

{%  endblock %}


{% block content %}
<header>
    <h1 class="smash_head">
        Mosaic Smash
    </h1>
    <h2>
        <span class="side-header">
            <a href="/tournaments"> {{ tournament.name }} </a>
        </span>
        Data Entry
        <span class="side-header">
            <a href="/tournaments"> {{ tournament.name }} </a>
        </span>
    </h2>
</header>
<div class='line'> </div>
<form method="post" action="">
    {{ formset.management_form }}
    {% csrf_token %}
    <table class="match_form">
        <tr id='entry_col_names' class='entry_row'>
            <th> Tournament </th>
            <th> Stage </th>
            <th> Teams </th>
            <th> Items </th>
            <th> Match Type </th>
            <th> Rules </th>
        </tr>
        <tr class='entry_row'>
            {% for field in  match %}
            <td>
                {{ field }}
            </td>
            {% endfor %}
        </tr>
    </table>

    <div class='line'></div>
    <div class='white_line'></div>
    <div class='line'></div>

    <table>
        <tr id="col_names">
            <th> Player </th>
            <th> Character </th>
            <th> Team </th>
            <th> KOs </th>
            <th> Falls </th>
            <th> Winner </th>
        </tr>
        {% for form in formset %}
        <tr>
        {% for field in form %}
            <td>
               {{ field }}
            </td>
        {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan='6'>
                <input type="submit" value="Enter Match Data" class="submit_button" />
            </td>
        </tr>
    </table>

</form>

<div class='line'></div>


{%  endblock %}


{% block javascript %}
<script type='text/javascript'>

</script>
{% endblock %}
