{% extends 'tournaments/base.html' %}
{% load staticfiles %}


{% block head %}
<link rel='stylesheet' type='text/css' href={% static 'tournaments/css/tournaments.css' %} />
{%  endblock %}


{% block content %}
<header>
    <h1 class="smash_head">
        Mosaic Smash
    </h1>
    <h2>
        <span class="side-header"> <a href='/leaderboard/'> Leaderboards </a> </span>
        Tournaments
        <span class="side-header"> <a href='/leaderboard/'> Leaderboards </a> </span>
    </h2>
</header>
<div class='line'></div>

<table>
    <tr id='col_names'>
        <th> Tournament </th>
        <th> Date Started </th>
        <th> Date Ended </th>
        <th> Preliminary </th>
        <th> Winner </th>
    </tr>
{% for tournament in tournament_list %}
    <tr class='clickable-row'  data-href='/tournaments/{{ tournament.pk }}/'>
        <td class='tournament'>
            {{ tournament.name }}
        </td>
        <td class='start'>
            {{ tournament.date_started }}
        </td>
        <td class='end'>
            {{ tournament.date_ended }}
        </td>
        <td class='prelim'>
            {% if tournament.preliminary %}
		✓
	    {% else %}
		✘
	    {% endif %}
        </td>
        <td class='winner'>
            {{ tournament.winner.nickname }}
        </td>
    </tr>
{% endfor %}
</table>
<div class='line'></div>

{%  endblock %}


{% block javascript %}
<script type="text/javascript">
    $(".clickable-row").click(function() {
        console.log($(this).data("href"));
    window.document.location = $(this).data("href");
    });
</script>
{% endblock %}
