@import "variables";

body {
    width: 100%;
    margin: 0;
}

.background-image {
    height: 450px;
    width: 100%;
    background-image: url("http://wiimedia.ign.com/wii/image/article/113/1138536/super-smash-bros-brawl-20101203052409267-000.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 90%;
    @include blur(9);
}

.side-header {
    color: $MGrey;
    font-size: .5em;
    margin: 40px;
}

h1, h2 {
    font-family: $HeaderFont;
    font-size: 6em;
    text-align: center;
    color: $MBlue;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 40px;
}

h2 {
    font-size: 4em;
}

ul {
    list-style-type: none;
}

li {

    background-color: $MOrange;
    font-family: $BodyFont;
    font-size: 1.5em;
    color: white;
    padding: 20px;
    margin: 0 auto;
}

table {
    background-color: $MOrange;
    font-family: $BodyFont;
    font-size: 1.5em;
    color: white;
    margin: 0 auto;
    width: 100%;
    border-spacing: 0;

    tr:nth-child(even) {
        background-color: lighten($MOrange, 13%);
    }
    td,th {
        text-align: center;
        line-height: 1.6em;
    }

    td {
        margin: auto;
        font-family: $TableFont;
    }

    th {
        font-size: 1.5em;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 7px solid white;

        }

    tr {
        cursor: pointer;
        &:hover {
            color: $MBlue;
        }
       }

    #col_names {
        cursor: auto;
        color: white;
    }
}

.line {
    height: 8px;
    width: 100%;
    background-color: $MBlue;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $MGrey;
    &:hover {
        color: $MOrange;
    }
}
