@import "base";


.round {
    color: $MGrey;
    font-size: .5em;
    margin: 40px;
}

.win {
    background-image: url('smash-ball-small.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
