@import url(https://fonts.googleapis.com/css?family=Oswald|Fugaz+One|Squada+One|Black+Ops+One|Contrail+One|Wallpoet);

$BodyFont: "Oswald";
$font2: "Fugaz One";
$font3: "Squada One";
$HeaderFont: "Black Ops One";
$TableFont: "Contrail One";
$font6: "Wallpoet";


$MOrange: #D95A24;
$MGrey: #666;
$MBlue: #002745;
