@import url(https://fonts.googleapis.com/css?family=Oswald|Fugaz+One|Squada+One|Black+Ops+One|Contrail+One|Wallpoet);

$BodyFont: "Oswald";
$font2: "Fugaz One";
$font3: "Squada One";
$HeaderFont: "Black Ops One";
$TableFont: "Contrail One";
$font6: "Wallpoet";


$MOrange: #D95A24;
$MGrey: #666;
$MBlue: #002745;



@mixin blur ($radius) {
    -webkit-filter: blur($radius+px); /* Chrome, Safari */
    -ms-filter: blur($radius+px); /* IE12? */
    filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
    filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
}
